<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/icon-site.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/icon-site.png">
    <link rel="stylesheet" href="/static/style.css">
    <title>Форум</title>
</head>
<body>
  
  <div class="body">
    <div style="display: inline-block;">
      <h1>Форум веб разроботчиков</h1>
    </div>
    <div style="display: block; float: right; margin-top: 25px;">
      <a href="in_develop" style="font-size: 150%;">Профиль</a>
    </div>
  <div class="base">
      <hr>
      <section onclick="console.log('Нажал')">
        <h3>Название темы (до 50 символов)</h3>
        <h4>#Теги, #через запятую до 60 букы не включая решётки и пробелы</h4>
        <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
        <a>Ник автора</a>
      </section>

      <section onclick="console.log('Нажал')">
        <h3>Что лучше PyCharm или VS Code?</h3>
        <h4>#PyCharm, #VSCode, #python3</h4>
        <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
        <a>Ник автора</a>
      </section>

      <section onclick="console.log('Нажал')">
        <h3>Стоит ли делать 404-ю страницу</h3>
        <h4>#html, #web</h4>
        <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
        <a>Ник автора</a>
      </section>

      <section onclick="console.log('Нажал')">
        <h3>Как правильно называть ветки в Git</h3>
        <h4>#Теги, #через запятую до 60 букы не включая решётки и пробелы</h4>
        <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
        <a>Ник автора</a>
      </section>

      <section onclick="console.log('Нажал')">
          <h3>Как устроится на первую работу</h3>
          <h4>#Теги, #через запятую до 60 букы не включая решётки и пробелы</h4>
          <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
          <a>Ник автора</a>
      </section>

      <section onclick="console.log('Нажал')">
        <h3>Стоит ли использовать Django под мини-проект</h3>
        <h4>#python3, #Djanfo, #Flask</h4>
        <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
        <a>Ник автора</a>
      </section>
      <section onclick="console.log('Нажал')">
        <h3>плагины под VS Code</h3>
        <h4>#Теги, #через запятую до 60 букы не включая решётки и пробелы</h4>
        <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
        <a>Ник автора</a>
      </section>
      <section onclick="console.log('Нажал')">
        <h3>Название темы (до 50 символов)</h3>
        <h4>#Теги, #через запятую до 60 букы не включая решётки и пробелы</h4>
        <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
        <a>Ник автора</a>
      </section>
      <section onclick="console.log('Нажал')">
        <h3>Название темы (до 50 символов)</h3>
        <h4>#Теги, #через запятую до 60 букы не включая решётки и пробелы</h4>
        <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
        <a>Ник автора</a>
      </section>
      <section onclick="console.log('Нажал')">
          <h3>Название темы (до 50 символов)</h3>
          <h4>#Теги, #через запятую до 60 букы не включая решётки и пробелы</h4>
          <p>Какой то текст но на первоначальной странице он будет отображён частично</p>
          <a>Ник автора</a>
      </section>
    </div>
</div>
<br>
<br>
<br>
<div class="info">
  <h4>Сайт разработал <a class="info-a" href="https://t.me/polzovatel993">Андрей Ханикаев</a></h4>
</div>
</body>
</html>