<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section style="background-color: bisque; margin: 2px; border: 1px solid black; width: 12vw; min-width: 200px; max-width: 12vw; height: 4vw; min-height: 75px;">
        <p style="font-size: 0.9vw; margin: 2px;">Здравствуйте {{name}}</p>
        <a href="#" style="font-size: 0.7vw; margin: 2px;">Профиль</a>
        |
        <a href="#" style="font-size: 0.7vw; margin: 2px;">Уведомления</a>
        <br>
        <a href="#" style="font-size: 0.7vw; margin: 2px;">Ваши темы</a>
        |
        <a href="#" style="font-size: 0.7vw; margin: 2px;">Ваши ответы</a>
        |
        <a href="#" style="font-size: 0.7vw; margin: 2px;">Выход</a>
    </section>
</body>
</html>