<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div style="display: block; background: red; height: 1px; width: 155px;"></div>
        <div style="background: red; height: 55px; width: 1px;"></div>
        <div style="display: block; background: red; height: 100px; width: 1px;">
          <p style="margin-bottom: 0px; margin-left: 3px;">Имя пользователя</p>
          <a href="">Профиль</a>
          <a href="">Мои темы</a>
        </div>
        <div style="background: red; height: 1px; width: 155px;"></div>

        
        
    </div>
</body>
</html>